.consent-cont {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.consent-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.consent-checkbox,
.consent-more {
  height: 15px;
  margin: 5px;
  width: 15px;
}

.contact-button {
  margin-left: 12%;
  padding: 19px;
  width: 50%;
}

.contact-form-height {
  margin-left: 80px;
}

.consent-label-wrapper {
  flex: 1;
}

.consent-brief {
  font-size: 10px;
  margin: 0;
}

@media (max-width: 430px) {
  .consent-brief {
    font-size: 10px;
  }

  .consent-checkbox {
    height: 15px;
    width: 15px;
    margin: 2px;
  }
}

.first-name {
  margin: "-5px";
}
