
.careers-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -40px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.career-ind {
  margin: 100px;
  width: 400px;
  height: auto;
  flex-shrink: 0;
  transition: transform 0.8s ease-in-out;
}

.career-ind img {
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.career-ind img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.bde-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bde-title-intern {
  display: flex;
  justify-content: center;
  align-items: center;
}

.career-ind:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.para-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #0b3d2c;
  font-weight: bold;
  font-size: larger;
}

@media (max-width: 431px) {
  .careers-list {
    display: block;
    margin-top: -73px;
    margin-left: -78px;
  }
  .career-ind {
    margin: 100px;
    width: 75%;
    height: auto;
  }
  .career-ind img {
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
