.careers-list {
  display: flex;
  /* justify-content: space-evenly; */
  /* margin-bottom: -40px;
  margin-top: -30px; */
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.career-ind {
  margin: 100px;
  width: 400px;
  height: auto;
  flex-shrink: 0;
  transition: transform 0.8s ease-in-out;
}

.protected-image {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.career-ind img {
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.career-ind img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.bde-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.bde-title-intern {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.career-ind:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.para-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #0b3d2c;
  font-weight: bold;
  font-size: larger;
}

@media (max-width: 768px) {
  .careers-list {
    display: block;
    margin-left: -5rem;
  }

  .career-ind {
    margin: 100px;
    width: 75%;
    height: auto;
  }
  .career-ind img {
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .career-ind:hover {
    cursor: default;
    transform: none;
  }
  .career-ind img:hover {
    box-shadow: none;
  }
  .bde-title {
    margin-top: 15px;
  }
}
/* @media (min-width: 769px) and (max-width: 1024px) {
  .career-ind {
    margin: 100px;
    width: 276px;
    height: auto;
    flex-shrink: 0;
    transition: transform 0.8s ease-in-out;
  }
} */
@media (min-width: 769px) and (max-width: 1024px) {
  .career-ind {
    margin: 100px ; /* Center alignment (if applicable) */
    width: 276px;
    height: auto;
    flex-shrink: 0; /* Prevent the element from shrinking */
    transition: transform 0.8s ease-in-out; /* Smooth transition effect */
  }
}
